---
import ControlPanel from "./ControlPanel.astro";
---

<div>
    <canvas id="algorithm-canvas" class="canvas" width="1000" height="500"></canvas>
    <ControlPanel />
</div>

<script src="./bubblesort.ts"></script>

<style>
    .canvas {
        background-color: var(--primary-lighter, #333);
        border: 3px solid var(--primary-light, #222);
    }
</style>
