---
import ControlPanel from "./ControlPanel.astro";
---

<div style="width: 100%">
    <canvas id="algorithm-canvas" class="canvas" width="2000" height="1200" ></canvas>
    <ControlPanel />
</div>

<script src="./bubblesort.ts"></script>

<style>
    .canvas {
        background-color: var(--primary-lighter, #333);
        border: 3px solid var(--primary-light, #222);
        width: 70%;
        margin-left: 15%;
    }
    
    @media screen and (max-width: 1920px) {
        .canvas{
            width: 100%;
            margin: 0;
        }
	}
    @media screen and (max-width: 950px) {
        .canvas{
            margin-left: -10.5%;
            width: 120%;
        }
	}
</style>
