---
import ControlPanel from './ControlPanel.astro';
---

<div>
	<canvas id="algorithm-canvas" class="canvas" width="1000" height="500"></canvas>
	<ControlPanel />
</div>

<script src="./bubblesort.ts"></script>

<style>
    .canvas {
        border: 1px solid #000;
        background-color: #aaa;
    }
</style>