---
import Button from "./Button.astro";
import NumberInput from "./NumberInput.astro";
---

<div class="control-panel">
    <Button text="ðŸ”€" title="random data" id="randomize-button" />
    <Button id="play-button" text="â¯" title="play" />
    <Button id="skip-back-button" text="â®" title="skip back" />
    <Button id="step-back-button" text="â—€" title="step backward" />
    <Button id="step-forward-button" text="â–¶" title="step forward" />
    <Button id="skip-forward-button" text="â­" title="skip forward" />
    <NumberInput
        label="timeout (ms)"
        id="interval-timeout-input"
        min="1"
        max="5000"
    />
</div>

<style>
    .control-panel {
        padding: 20px;
        margin: 10px 28%;
        background-color: var(--primary-lighter, #333);
        border: 3px solid var(--primary-light, #222);
    }
    @media screen and (max-width: 1350px) {
        .control-panel {
            margin: 10px 20%;
        }
	}
    @media screen and (max-width: 950px) {
        .control-panel {
            margin: 10px 10%;
        }
	}
    @media screen and (max-width: 700px) {
        .control-panel {
            margin: 10px 0;
        }
	}
</style>
