---
import Layout from '../layouts/Layout.astro';
import Canvas from '../components/Canvas.astro';
const heading = 'Daniel\'s algorithms';
---


<Layout title={heading}>
	<div class="algorithm-container">
		<h1>Bubble Sort 🧼</h1>
		<Canvas algorithm='bubblesort' />
	</div>
</Layout>

<style>
	.algorithm-container {
		width: 100%;
	}
</style>