---
import Layout from '../layouts/Layout.astro';
const heading = 'Daniel\'s algorithms';
---


<Layout title={heading}>
	<h1>Algorithms</h1>
	<p>This web application visualizes well-known algorithms from computer science.</p>
	<p>Take a look at the algorithms:</p>
	<ul>
		<li>
			Sort Algorithms
		</li>
		<ul>
			<li>
				<a href="/bubblesort">bubble sort</a>
			</li>
			<li>
				<a href="/insertionsort">insertion sort</a>
			</li>
		</ul>
	</ul>
</Layout>
