---
import Layout from '../layouts/Layout.astro';
import Canvas from '../components/Canvas.astro';
const customColorTheme = undefined;
const heading = 'Daniel\'s algorithms';
---


<Layout title={heading} customColorTheme={customColorTheme}>
	<div class="algorithm-container">
		<h1>Insertion Sort ↩️</h1>
		<Canvas algorithm='insertionsort' customColorTheme={customColorTheme} />
		<h2>Functionality</h2>
		<p>
			TODO
		</p>
		<h2>Advantages</h2>
		<p>
            TODO
		</p>
		<h2>Disadvantages</h2>
		<p>
            TODO
		</p>
		<h2>Conclusion</h2>
		<p>
			TODO
		</p>
	</div>
</Layout>

<style>
	.algorithm-container {
		width: 100%;
	}
</style>