---
import { Image } from "astro:assets";
import me from "../assets/me_head_sticker.png";
import Button from "./Button.astro";
---

<header class="header-outer-container">
  <div class="header-inner-container">
    <a href="/" class="link-container">
      <Image width="80" height="80" class="head" src={me} alt="my head" />
    </a>
    <nav class="navigation">
      <a href="/" class="link-container">
        <Button text="Home" />
      </a>
    </nav>
  </div>
</header>

<style>
  .header-outer-container {
    width: 100%;
    border-bottom: 2px solid var(--secondary, #fff);
    box-shadow: 0px 1px 4px var(--accent-secondary, #000);
    background-color: var(--primary, #000);
    position: fixed;
  }
  .header-inner-container {
    max-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
  }
  @media screen and (max-width: 1350px) {
    .header-inner-container {
      padding: 0 10%;
    }
  }
  .head {
    width: 80px;
    height: 80px;
    margin-top: 30px;
  }
  .navigation {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .link-container {
    position: relative;
  }
</style>
