---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
interface Props {
	title: string;
    // eslint-disable-next-line no-undef
	customColorTheme?: CustomColorTheme;
}

const { title, customColorTheme } = Astro.props;

// eslint-disable-next-line no-undef
const colorTheme: ColorTheme = {
	primary: '#101010',
	primaryLight: '#202020',
	primaryLighter: '#303030',
	secondary: '#dadada',
	accent: '#2755ee',
	accentSecondary: '#000000'
};
if (customColorTheme) {
	if (customColorTheme.primary)
		colorTheme.primary = customColorTheme.primary;
	if (customColorTheme.primaryLight)
		colorTheme.primaryLight = customColorTheme.primaryLight;
	if (customColorTheme.primaryLighter)
		colorTheme.primaryLighter = customColorTheme.primaryLighter;
	if (customColorTheme.secondary)
		colorTheme.secondary = customColorTheme.secondary;
	if (customColorTheme.accent)
		colorTheme.accent = customColorTheme.accent;
	if (customColorTheme.accentSecondary)
		colorTheme.accentSecondary = customColorTheme.accentSecondary;
}
---

<!doctype html>
<html lang="en">
	<head>
		{/* HTML Meta Tags */}
		<title>{title}</title>
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta
			name="description"
			content="Hi I'm Daniel Nagel and this is my software developer portfolio."
		/>
		<meta name="author" content="Daniel Nagel" />
		<meta name="content-language" content="en-US" />
		<meta name="keywords" content="software, developer, engineer, german, deutschland, germany, javascript, typescript, java, vue, react, web components" />

		{/* Facebook Meta Tags */}
		<meta property="og:title" content={title} />
		<meta property="og:url" content="https://www.dnagel.de" />
		<meta
			property="og:image"
			content="https://www.dnagel.de/me_head_sticker.png"
		/>
		<meta property="og:type" content="website" />
		<meta
			property="og:description"
			content="Hi I'm Daniel Nagel and this is my software developer portfolio."
		/>
		<meta property="og:locale" content="en-US" />

		{/* Twitter Meta Tags */}
		<meta name="twitter:card" content="summary_large_image" />
		<meta property="twitter:domain" content="dnagel.de" />
		<meta property="twitter:url" content="https://dnagel.de/" />
		<meta name="twitter:title" content={title} />
		<meta
			name="twitter:description"
			content="Hi I'm Daniel Nagel and this is my software developer portfolio."
		/>
		<meta
			name="twitter:image"
			content="https://www.dnagel.de/me_head_sticker.png"
		/>
	</head>
	<body>
		<Header/>
		<div class="content-container">
			<main class="content">
				<slot />
			</main>
			<Footer />
		</div>
		
	</body>
</html>
<style is:global define:vars={colorTheme}>
	html,
	body {
		width: 100%;
		height: 100%;
		margin: 0;
	}
	:root {
		color: var(--secondary);
		font-size: 24px;
		font-family: system-ui, sans-serif;
		background: var(--primary);
	}
	h1 {
		margin-top: 0px;
	}
	.content-container {
		display: grid;
		grid-template-rows: 1fr min-content;
		height: 100%;
		padding-top: 80px;
		box-sizing: border-box;
	}
	.content {
		width: 80%;
		margin: auto;
	}
	@media screen and (max-width: 500px) {
		:root {
			font-size: 18px
		}
	}
	a {
		text-decoration: none;
		font-style: normal;
		color: var(--accent, #fff);
	}
	a:hover {
		color: var(--secondary, white);
	}
	.m0 {
		margin: 0;
	}
	
	.disabled, .disabled:hover, .disabled:active {
	opacity: 0.6;
	cursor: not-allowed;
	}
</style>
